body {
	margin: 0;
	padding: 0;
	background-color: #52057b;
}
#container {
	width: 100%;
}
#baner_word {
	font-size: 75px;
	color: #ffffff;
	font-family: Bradley Hand, cursive;
}
#baner {
	text-align: center;
}
#main {
	display: flex;
	justify-content: center;
	justify-items: center;
}
#wisielec {
	width: 30%;
	height: 40vh;
}
#wisielec_img {
	width: 70%;
	border: dashed white 5px;
	border-radius: 10%;
	margin-left: 15%;
	margin-top: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#wisielec_png {
	border-radius: 10%;
	justify-content: center;
	height: 90%;
	width: 100%;
}
#game {
	width: 70%;
}
#displayWord {
	display: flex;
	width: 80%;
	margin-top: 10%;
	justify-content: center;
}
.letters {
	color: white;
	text-align: center;
	width: 40px;
	height: 60px;
	font-size: 40px;
	font-family: Bradley Hand, cursive;
	background-color: #892cdc;
	margin-left: 5%;
	border: white 2px solid;
}
#btns {
	display: flex;
	margin-top: 10%;
	margin-left: 35%;
}
.btn {
	width: 200px;
	height: 50px;
	font-size: 22px;
	font-family: Bradley Hand, cursive;
	background-color: #892cdc;
	color: white;
	border: white 2px solid;
}
.btn:hover {
	background-color: #380453;
	cursor: pointer;
}
