body {
	margin: 0;
	padding: 0;
	background-color: #52057b;
}
#container {
	width: 100%;
}
#baner_word {
	font-size: 75px;
	color: #ffffff;
	font-family: Bradley Hand, cursive;
}
#baner {
	text-align: center;
}
#wisielec {
	width: 50%;
	height: 400px;
}
#wisielec_img {
	height: 100%;
	width: 40%;
	border: dashed white 5px;
	border-radius: 10%;
}
#game {
	width: 50%;
}
